@using Northwind.Models


<div class="jumbotron my-2 border border-secondary">
    <h2 class="display-4">Product Categories</h2>
    @* <p class="lead">We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.</p> 
    <hr class="my-4">
    <p>For exceptional international quisuine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button"><i class="fas fa-shopping-cart"></i> Order Now</a>
    *@  
    
    <div class="list-group">
        <ul>
            <li><b>Beverages :</b> Soft drinks, coffees, teas, beers, and ales</li>
            <li><b>Condiments :</b> Sweet and savory sauces, relishes, spreads, and seasonings</li>
            <li><b>Confections :</b> Desserts, candies, and sweet breads</li>
            <li><b>Dairy Products :</b> Cheeses</li>
            <li><b>Grains/Cereals :</b> Breads, crackers, pasta, and cereal</li>
            <li><b>Meat/Poultry  :</b> Prepared meats</li>
            <li><b>Produce :</b> >Dried fruit and bean curd</li>
            <li><b>Seafood :</b> Seaweed and fish</li>
        </ul>
    </div>

</div>


@section scripts
    {
    <script src="/js/client.js"></script>
}